asgiref==3.8.1
Django==5.2.3
sqlparse==0.5.3
dramatiq[django]
dramatiq[redis]
django_dramatiq
qdrant-client
redis
psycopg2-binary
uvicorn[standard]
python-dotenv
ninja
transformers
torch
numpy
scikit-learn
gunicorn
django-ninja
supervisor
psutil
requests
channels
pyjwt[crypto]
drf_yasg
djangorestframework
pdfplumber
channels_redis
pdf2image
pillow
openai
drf_spectacular
psutil
async-lru